<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css')}}">
    <title>Muscle Up | Infos</title>
</head>
<body>
    <header class="head">
        <div class="nav-bar">
            <!-- Links: Logo -->
            <h1 class="headline">Muscle Up</h1>

        <!-- Rechts: Userbereich / Login -->
        {% if 'user_id' in session %}
        <div class="nav-user">
            <div class="dropdown">
                <button class="dropbtn">
                    <img src="{{ current_user_profile.profile_pic_url if current_user_profile else url_for('static', filename='profile_pics/default.png') }}" 
     alt="Profil" class="profile-pic"
     onerror="this.src='{{ url_for('static', filename='profile_pics/default.png') }}'">
                </button>
                <div class="dropdown-content">
                    <span class="username">{{ session['username'] }}</span>
                    <a href="{{ url_for('index') }}">Start</a>
                    <a href="{{ url_for('profile') }}">Mein Profil</a>
                    <a href="{{ url_for('logout') }}">Logout</a>
                </div>
            </div>
        </div>
        {% else %}
        <nav class="nav-top">
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Registrieren</a>
        </nav>
        {% endif %}

        <!-- Hamburger Button (nur Mobile) -->
        <button class="hamburger" onclick="toggleMenu()">☰</button>
    </div>

    <!-- Mobile Menü -->
    <nav class="mobile-menu" id="mobileMenu">
        <a href="{{ url_for('index') }}">Start</a>

        {% if 'user_id' in session %}
            <a href="{{ url_for('profile') }}">Mein Profil</a>
            <a href="{{ url_for('workout_page') }}">Training</a>
            <a href="{{ url_for('fitness_kalendar') }}">Fitness Kalender</a>
            <a href="{{ url_for('logout') }}">Logout</a>
        {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            <a href="{{ url_for('register') }}">Registrieren</a>
        {% endif %}
    </nav>
</header>

<main class="content">

    <section class="patch-notes">
        {% if admin == false %}
            <h3>Post erstellen</h3>
        {%endif%}
    </section>

</main>

    <footer>
        &copy; 2025 Muscle Up. Alle Rechte vorbehalten.
    </footer>
    
    <script>
    function toggleMenu() {
        const menu = document.getElementById("mobileMenu");
        menu.classList.toggle('active');
    }
    </script>

</body>
</html>