<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css')}}">
    <title>Muscle Up | Login</title>
</head>
<body>
    <div class="wrapper">
        <header class="head">
            <h1 class="headline">Login</h1>
            <div class="nav-bar">
     
                <h1 class="headline">Muscle Up</h1>
            </div>

       
        </header>

        <main class="content">
            <form method="POST" class="form-login">
                <label>Benutzername:</label>
                <input type="text" name="username" placeholder="Benutzername" required>

                <label>Passwort:</label>
                <input type="password" name="password" placeholder="Passwort" required>

                <button type="submit" class="button">Einloggen</button>
            </form>
            <p>Kein Account? <a href="{{url_for('register')}}">Registrieren!</a></p>
        </main>

        <footer>
            &copy; 2025 Muscle Up. Alle Rechte vorbehalten.
        </footer>
    </div>
</body>

</html>

