<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Muscle Up | Registrieren</title>
</head>
<body>
    <div class="wrapper">
        <header class="head">
            <h1 class="headline">Registrieren</h1>
            <nav class="nav-top">
                <a href="{{ url_for('index') }}" class="link">Home</a>
                <a href="{{ url_for('login') }}" class="link">Login</a>
            </nav>
        </header>   
        {% if error %}
            <p style="color: var(--primary); font-weight: bold; text-align: center;">{{ error }}</p>
        {% endif %}

        <main class="content">
            <form method="POST" class="form-login">
                <label>Benutzername:</label>
                <input type="text" name="username" placeholder="Benutzername" required>

                <label>Passwort:</label>
                <input type="password" name="password" placeholder="Passwort" required>

                <label>Passwort bestätigen:</label>
                <input type="password" name="confirm_password" placeholder="Passwort bestätigen" required>

                <button type="submit">Registrieren</button>
            </form>
        </main>

        <footer>
            &copy; 2025 Muscle Up. Alle Rechte vorbehalten.
        </footer>
    </div>
</body>
</html>
