<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='nav.css')}}">
    <title>Muscle Up | Registrieren</title>
</head>
<body>
    <div class="wrapper">
        <header class="head">
            <h1 class="headline" id="register-head">Registrieren</h1>
        </header>

        <main class="content">
            <div class="form-card">
                <h2 class="form-title">Registrieren</h2>
                <form method="post" action="{{ url_for('register') }}" class="form-login">
                    {% if error %}
                    <p>{{ error }}</p>
                    {% endif %}
                    <label for="username">Benutzername:</label>
                    <input type="text" id="username" name="username" required>
                    <label for="password">Passwort:</label>
                    <input type="password" id="password" name="password" required>
                    <label for="confirm_password">Passwort bestätigen:</label>
                    <input type="password" id="confirm_password" name="confirm_password" required>
                    <button type="submit" class="button">Registrieren</button>
                </form>
                <p>Schon ein Konto? <a class="a-tag" href="{{ url_for('login') }}">Login!</a></p>
            </div>
        </main>
    </div>

    <footer>
        &copy; 2025 Muscle Up. Alle Rechte vorbehalten.
    </footer>
</body>
</html>

